.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 1080px;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  padding: 10px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}

.topContainer {
  display: flex;
  justify-content: space-between;
}

.mainContainer {
  margin-top: 150px;
  background-color: white;
  border-radius: 25px;
  height: auto;
  width: 60vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 5px 15px rgb(65, 65, 65);
}

.sprites {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.spriteDescription {
  text-transform: capitalize;
  text-align: center;
}
.dataContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.topDataContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: space-around;
}
.cryContainer {
  flex-wrap: wrap;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1vw;
}

.close {
  padding: 20px;
  background: #c93739;
  color: white;
  font-weight: bold;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 5px gray;
}

.close:hover {
  padding: 25px;
  font-size: larger;
}

@media only screen and (max-width: 1800px) {
  .main {
    min-height: 1300px;
  }
}

@media only screen and (max-width: 1160px) {
  .main {
    min-height: 2350px;
  }
}

@media only screen and (max-width: 800px) {
  .main {
    min-height: 2650px;
  }
}
